@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.Lato {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}

.Damion {
	font-family: 'Damion', serif;
	font-weight: 400;
	font-style: normal;
}

.GrandiFlora {
	font-family: 'Grandiflora One', serif;
	font-weight: 400;
	font-style: normal;
}

.Agdasima {
	font-family: 'Agdasima', serif;
	font-weight: 400;
	font-style: normal;
}

.fond {
	background-image:  url('$lib/asset/fond.jpg');
}

.shadow {
	filter: drop-shadow(0 0 10px rgba(252, 248, 244, 0.5));
	background-color:rgba(252, 248, 244, 0.75)
}
