@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.Lato {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}

.Damion {
	font-family: 'Damion', serif;
	font-weight: 400;
	font-style: normal;
}

.GrandiFlora {
	font-family: 'Grandiflora One', serif;
	font-weight: 400;
	font-style: normal;
}

.Agdasima {
	font-family: 'Agdasima', serif;
	font-weight: 400;
	font-style: normal;
}

.fond {
	background-image: url('$lib/asset/fond.jpg');
}
.darkmodeinner {
	box-shadow: inset 0 2px 6px #21212180;
}
.darkmodeAnimation {
	animation-fill-mode: both;
	animation-name: moove;
	animation-duration: 0.5s;
	border-color: white;
	transition-duration: 0.5s;
}
.darkmode {
	background-color: #212121;
	transition-duration: 1.5s;
	box-shadow: inset 0 0 2px 1px #fcf8f480;
	.burgerDM {
		color: white;
		transition-duration: 1.5s;
	}
	.headerDM,
	.footerDM {
		background-color: #212121;
		transition-duration: 1.5s;
	}
}

.lightmode {
	background-color: white;
	transition-duration: 1.5s;
	.headerLM,
	.footerLM {
		transition-duration: 1.5s;
	}
	.burgerLM {
		color: #212121;
		transition-duration: 1.5s;
	}
	.moonColor {
		color: white;
	}
}
@keyframes moove {
	from {
		left: 2%;
	}
	to {
		left: 71%;
	}
}
.lightmodeAnimation {
	animation-fill-mode: both;
	animation-name: mooveBack;
	animation-duration: 0.5s;
	border-color: #f18046;
	transition-duration: 0.5s;
}

@keyframes mooveBack {
	from {
		left: 72%;
	}
	to {
		left: 2%;
	}
}
.shadow {
	filter: drop-shadow(0 0 10px rgba(252, 248, 244, 0.5));
	background-color: rgba(252, 248, 244, 0.75);
}

.inputshadow {
	box-shadow: inset 0 2px 2px 1px #787880;
}

.buttonshadow {
	filter: drop-shadow(0 2px 2px#212121);
}

.eventshadow {
	filter: drop-shadow(0 0 4px #21212150);
}

.checkbox {
	opacity: 0;
	z-index: 1;
	cursor: pointer;
	position: absolute;
}

.checkbox:checked ~ .checkmark::after {
	display: block;
	content: '';
}

.checkmark {
	position: absolute;
	height: 16px;
	width: 16px;
	border-radius: 4px;
	border: 2px solid black;
	outline: 1px solid black;
	background-color: transparent;
}

.checkmark:after {
	margin-left: 3.5px;
	margin-top: 1.5px;
	top: 5px;
	width: 5px;
	height: 8px;
	border: 1px solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
